<div class="container-fluid bg-light p-5">
    <div class="row no-gutters m-3">
        <div class="col-12">
            <app-header></app-header>
        </div>
    </div>
    <div class="row no-gutters m-3">
        <div class="col mr-3">
            <app-nav></app-nav>
        </div>
        <div class="col-sm-8">
            <app-content></app-content>
        </div>
    </div>
    <div class="row no-gutters m-3">
        <div class="col-12">
            <app-footer></app-footer>
            </div>
        </div>
    </div>